
.box{

    /* margin-left: 5% */
    width: 90%;
    margin-left: 200px;
    height: 950px; 
    box-sizing: border-box;
    border: none;
    /* border-radius: 10px; */
    background: linear-gradient(rgb(93, 238, 243), rgb(11, 29, 46));
    /* background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%); */
    

   
}



.levels{

    width: 1040px;
    margin: 0 auto;
    padding: 50px 0;
    

}

.levels li{

    display: inline-block;
    vertical-align: top;
    background: white;
    border-radius: 10px;
    text-align: left;
    width: 30%;
    height: 600px;
    padding: 30px 20px;
    box-sizing: border-box;
    border: solid 2px;
    font-size: 18px;
    margin: 0 1.5%; 
}


header{

    box-sizing: border-box;
    border-radius: 10px;
    border:solid 15px ;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(80, 210, 200));
}

.box h1{
    font-size: 50px;
    margin: 0 0 0 330px;
    color: black;
}

header p{
    text-align: right;
    margin: 0 20px 0 0;
    font-size: 30px;
    font-weight: bold;
    color: black;
    
}

.type h2{
    font-size: 40px;
    margin: 0 0 15px 0;
    font-weight: bold;
    text-decoration: underline;

}



.type p{
    background: rgb(149, 175, 184);
    box-sizing: border-box;
    border: none;
    margin: 20px 10px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    padding: 7px 7px;
    

}

section{
    box-sizing: border-box;
    border-radius: 10px;
    width: 300px;
    height: 950px;
    border: none;
    background: linear-gradient(rgb(93, 238, 243), rgb(11, 29, 46));
    position: absolute;
    top: 0px;
    border: solid 15px;

    

}

section .my_photo{
    
    width: 80%; 
    margin: 10px 25px ;  


}

section h3{

    font-size: 20px;
    margin: 50px 20px;
    font-weight: bolder;
    color: black;
}

section p{
    font-size: 30px;
    margin: 10px auto;
    text-align: center;
    color: black;
    
}

section h4{
    margin: 120px 15px 25px 15px;
    font-size: 40px;
    color: black;
    
}

.navigation li{


    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin: 7px 15px; 
    text-decoration: none;

}


.fim{
    color: wheat;
    margin: 300px auto;
    font-size: 25px;
}










